<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>ThumOS</string>
  <key>CFBundleIdentifier</key>
  <string>io.thumos.menu</string>
  <key>CFBundleName</key>
  <string>ThumOS</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>LSMinimumSystemVersion</key>
  <string>10.15</string>
  <key>NSPrincipalClass</key>
  <string>NSApplication</string>
  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>ThumOS connects to Muse headsets over Bluetooth to stream and record EEG when you turn EEG recording on.</string>
  <key>NSBluetoothPeripheralUsageDescription</key>
  <string>ThumOS connects to Muse headsets over Bluetooth to stream and record EEG when you turn EEG recording on.</string>
</dict>
</plist>
